
nav {
    width: 100%;
    height: 65px;
    position: fixed;
    /* line-height: 65px; */
    text-align: center;
    font-family:  sans-serif;
}

/* .navbar-nav{
  text-align: right;
} */
 .navbar-nav .nav-link {
    color: #BB8493;
    font-size: 1.1em;
    padding-right: 1em;
font-size: 20px;

}
 .navbar-nav .nav-link:hover{
    color: #6C0345;
}

h1{
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content:center;
 }


h2{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
background-color:#F5EEE6;
border-radius:20px;
}


h3{

    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content:center;
  color: #451952;
}



#service{
  display: flex;
  flex-direction: row;
justify-content: center;
padding: 40px;
 line-height: 30px;
 flex-wrap: wrap;
 border-radius: 30px;
grid-template:(3)

}

.cart{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 10PX;
  width: 300PX;
  height: 200PX;
  text-align: center;
  margin-left: 40PX;
  margin-right: 30PX;
    font-family: arial;
      border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    transform: translateY(-5px);
    border-radius: 20px;
}


.cart-header{
  max-width: 350px;
  margin: 10PX;
padding:10px;
  height: 35px;
  background-color:#944E63;
  color:white;
  border-radius:10px;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin: 30px;

}



.d-flex{
  width: 300px;
padding:40px;
  box-sizing: border-box;
}

.card-header{
  display: flex;
  flex-direction: row;

}




#pricing{
  display: flex;
  flex-direction: row;
justify-content: center;
padding: 120px;
 line-height: 30px;
 flex-wrap: wrap;
 border-radius: 30px;
grid-template: (3)
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 10PX;
width: 400PX;
height: 400PX;
text-align: center;
margin-left: 40PX;
margin-right: 30PX;
  font-family: arial;
    border-radius: 8px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  transform: translateY(-5px);
padding: 20PX;
background-color:#FAF6F0;
border-radius: 20px;
}

.team{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin:20px; 
}


h3{
background-color:#F3D0D7;
margin: 10px;
padding:15px;
border-radius:8px;
}

p{
color: #860A35;
}



.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.user {
border-radius: 80%;
  display: grid;
gap:20px;
margin: 20px;
margin-left: 10px;
flex-direction: row;

}


.container {
  display: flex;
  align-items: center;
  justify-content: center
}



.text {
  font-size: 20px;
  padding-left: 20px;
}

p{
  text-align: center;
}

.card button {
  border: none;
  outline: 0;
  padding:30;
  color: white;
  background-color: #A78295;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
  border-radius:20px;
}


footer {
     background-color: #6C0345;
     color:#FFEFEF;
     text-align: center;
     padding: 30px;
     position: relative;
     bottom: 0;
     width: 100%;
     font-size: 30px;
  }
